.image-1{
    display: -webkit-box;
    top: 15px;
    position: relative;
    left: 5px;
}
.name-1{
    padding: 0 0 0 10px;
    position: absolute;
    font-weight: 300;
    margin-top: 22px;
    margin-left: 50px;
    font-size: 12px;
    margin-top: 26px;
}
.container{
    height: 120px;
    border-radius: 5px;
    
}
.container:hover{
    background-color: #fce2dd;
    border-bottom-color: tomato;
    border-bottom: 3px solid tomato;
}
.div-name{
    font-weight: 500;
    margin-left: 10px;
    margin-top: 3px;
}
.rooms-list{
    border-radius: 15px 0 0 15px;   
}
.div-name1{
    font-size: 10px;
    position: relative;
    top: 65px;
    right: 132px;
}

.div-name2{
    font-size: 10px;
    position: relative;
    top: 65px;
    right: 32px;
}

